.navbar {
  display: flex;
  justify-content: flex-end; /* Space between logo & menu */
  align-items: center;
  padding: 1rem 2rem;
  background: #29353C;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Navigation Links */
.navbar-links {
  gap: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar a:hover {
  color: #0c82ff;
}

/* Hamburger Menu Button */
.menu-toggle {
  display: none; /* Hidden on desktop */
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive: Tablet & Mobile */
@media (max-width: 768px) {

  .navbar {
    justify-content: space-between;
  }

  .menu-toggle {
    display: block;
     /* Show menu button */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #29353C;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 35%;
    transform: translateX(-50%);
    width: 40%; /* Reduce width to avoid covering the whole page */
    max-height: 20vh; /* Limit height to half of the screen */
    background: rgba(41, 53, 60, 0.95); /* Semi-transparent background */
    text-align: left;
    padding: 0.2rem 0; /* Reduce padding */
    border-radius: 5px; /* Add rounded corners */
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

  .navbar-links a {
    padding: 0 0.1rem;
    width: 100%;
    font-size: 0.9rem;
    display: block;
  }

  .navbar-links a:hover {
    background: #0c82ff;
    color: #fff;
  }
}
